version: "3.1"

services:
  api:
    container_name: sparc-api-prod
    restart: unless-stopped
    ports:
      - "8021:80"

  fetch:
    container_name: sparc-fetch-prod
    restart: unless-stopped

  apidb:
    restart: unless-stopped
